altgraph==0.17.4
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
docopt==0.6.2
emoji==2.15.0
evdev==1.9.2
idna==3.11
numpy==2.3.4
packaging==25.0
platformdirs==4.5.0
pycparser==2.23
pygame==2.6.1
pyglet==2.1.9
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pynput==1.8.1
python-decouple==3.8
python-xlib==0.33
PyYAML==6.0.3
requests==2.32.5
setuptools==78.1.1
six==1.17.0
sounddevice==0.5.2
twitch-chat-irc==0.0.4
urllib3==2.5.0
wheel==0.45.1
yarg==0.1.10
